@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: linear-gradient(#051b33 25%,#02050a 75%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: hsl(0, 0%, 12%);
}

.logo img {
    height: 50px;
}

.links ul {
    list-style: none;
    display: flex;
}
  
.links ul li {
    margin-left: 20px;
}

a:link {
    text-decoration: none;
    color: slategray;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

.welcome-text {
    background-image: url('background.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

.signIn {
    border-radius: 25px;
    padding: 15px;
    font-size: 13px;
    font-weight:bold;
    background-color:transparent;
    border: 2px solid #c7ccd4;
    color:#c7ccd4;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button:hover {
    color: #f2f4f7;
    background-color:#20252e80;
    transform: scale(1.05) perspective(1px);
}

.mid {
    font-family: 'Montserrat', sans-serif;
    color:#000308;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.playlist {
    border-radius: 5px;  
}

.playcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.info {
    display: flex;
    text-align: center;
    gap: 300px;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-size: 32px;
    background-image: url('background3.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    background-image: linear-gradient(black, rgb(5, 10, 15));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-size: 32px;
}

.newscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    background-image:linear-gradient(rgb(31, 46, 56), rgb(9, 15, 26));
    border-radius:15px ;
    opacity: 0.95;
    width: 35%;
}

.container input[type="email"] {
    padding: 10px;
    width: 300px;
}

.container button[type="submit"] {
    border-radius: 25px;
    padding: 15px;
    font-size: 13px;
    font-weight:bold;
    background-color:transparent;
    border: 2px solid #c7ccd4;
    color:#c7ccd4;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(0, 0%, 12%);
    color:#ffffff;
}

.social-links a {
    margin-left: 10px;
}
  