@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-link {
    text-decoration: none;
    color: whitesmoke;  
    padding: 5px;
    gap: 5px;    
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    font-size: 19px;
}

.logo {
    padding: 5px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.banner h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.sign-up {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: #fff;
    background-color: #FFB5B7;
    background: linear-gradient(to right, #42275a, #734b6d);
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sign-up:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #D8B5FF;
}

.hail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.hail-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, #42275a, #734b6d);
}

.hail h2 {
    font-size: 46px;
    margin-bottom: 30px;
    text-align: center;
}

.hail p {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    flex-basis: 30%;
}

.feature iframe {
    width: 100%;
    height: 360px;
}

.feature-text {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: #fff; 
}

.quote {
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    background: linear-gradient(to right, #42275a, #734b6d);
    margin: 5px, 10px;
}

.quote h1 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.fin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: #fff;
    text-align: center;
}

.fin-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    background: linear-gradient(to right, #42275a, #734b6d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fin-text h2 {
    font-size: 32px;
    margin-bottom: 40px;
    word-wrap: break-word;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.roll-initiative {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: #fff;
    background-color: #FFB5B7;
    background: linear-gradient(to right, #42275a, #734b6d);
    border: none;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.roll-initiative:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #D8B5FF;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-text {
    font-size: 19px;
    color: whitesmoke;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

.footer-links {
    margin-left: 10px;
}

.social-link {
    text-decoration: none;
    font-size: 19px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    color: whitesmoke;
    margin-left: 10px;
}

.social-link:hover {
    text-decoration: none;
    color: whitesmoke;
}